*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
   
}

@font-face {
    font-family: robotoBold;
    src: url(../fonts/Roboto-Bold.ttf);
  }

  @font-face {
    font-family: openSansRegular;
    src: url(../fonts/OpenSans-Regular.ttf);
  }

  @font-face {
    font-family: robotoRegular;
    src: url(../fonts/Roboto-Regular.ttf);
  }


.container{
    display: flex;
    margin: 0 auto;
    width: 70vw;
    height: 94vh;
    margin-top: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0px 1px 13px 2px #000000;
}

.contacts{
    display: flex;
    flex-direction: column;
    width: 15vw;
    height: 100%;
}

.current-user{
    display: flex;
    justify-content: space-between;
    height: 10%;
    border: 1px solid black;
    padding: 0.3rem;
    font-family: openSansRegular;
}

.small-thumbnail{
    max-width: 100%;
    max-height: 100%;
    border-radius: 50%;

}

.font-xs{
    font-size: 10px;
    
}

.font-sm{
    font-size: 14px;
}



.user-details-info{
    height: 100%;
    display: flex;
    align-items: center;
    margin-left: 1rem;
}

.user-details-text{
    margin-left: 0.5rem;
}

.user-details-menu{
    display: flex;
    width: 30%;
    height: 100%;
    align-items: center;
    justify-content: space-evenly;
}

.new-chat{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    border: 1px solid black;
}

.new-chat-button{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 35%;
    width: 70%;
    background-color: #a491d2;
    color: #fff;
    font-family: robotoRegular;
}

.main{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 0 auto;
    width: 50%;
    font-family: robotoRegular;

}

.main img{
    max-width: 40%;
    max-height: 40%;
    margin-bottom: 1rem;
    
}

.contact{
    border: 1px solid black;
    justify-content: flex-start;
    align-items: flex-start;
    height: calc(70% / 8);
    padding: 0.3rem;
    font-family: openSansRegular;
}

